################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/LeeXMLDatos/bin
/LeeXMLDatos/obj
/LeeXMLEntidades/bin
/LeeXMLEntidades/obj
/LeeXMLNegocio/bin
/LeeXMLNegocio/obj
/obj
